    header {
        position: fixed;
        display: flex;
        height: 40px;
        width: 100%;
        color: rgb(53, 112, 240);
        align-items: center;
        justify-content: center;
        border-bottom: solid 2px;
        border-color: rgb(126, 164, 247);
        background-color: rgb(178, 198, 240);
    }