<form (ngSubmit)="onSubmit()">
    <label for="category">Category : </label>
    <select name="category" [(ngModel)]="article.category.id">
       <option *ngFor="let item of categories" [ngValue]="item.id">{{item.label}}</option>
       </select>
    <label for="title">Title : </label>
    <input type="text" id="title" name="title" required [(ngModel)]="article.title">
    <label for="author">Author : </label>
    <input type="text" id="author" name="author" required [(ngModel)]="article.author">
    <label for="content">Content : </label>
    <textarea id="content" name="content" required [(ngModel)]="article.content"></textarea>
    <input type="submit" value="Post new article">
</form>