<button routerLink="/article/edit/{{article.id}}">Edit article</button>
<button (click)="delete()" routerLink="">Delete article</button>
<h1>{{article.title}}</h1>
<p>{{article.category.label}}</p>

<p>Author : {{article.author}}</p>
<p>Date : {{article.date}}</p>
<p>{{article.content}}</p>