<h2>All articles in {{category.label}} category : </h2>

<div *ngFor="let article of articles">
    <h2>{{article.title}}</h2>
    <p>{{article.category.label}}</p>
    <p>{{article.date|date}}</p>
    <p>{{article.author}}</p>
    <p>{{article.content}}</p>
    <a [routerLink]="['article/'+article.id]">Read article</a>
</div>