<div class="articles-list">
    <button routerLink="/add-article">New post</button>
    <div class="article-card" *ngFor="let article of articles">
        <h2>{{article.title}}</h2>
        <a routerLink="/category/{{article.category.id}}">{{article.category.label}}</a>
        <p>{{article.date|date}}</p>
        <p>{{article.author}}</p>
        <p>{{article.content}}</p>
        <a [routerLink]="['article/'+article.id]">Read article</a>
    </div>
</div>